


<% provide(:title , 'Make an Appointment') %>
<% if signed_in? %>


<h1>Make an Appointment!</h1>


<%= form_for(@appointment) do |f| %>
<table cellpadding="10">
	
	

<tr>
	<td>
		<% if current_user && (current_user.employee || current_user.admin ) %>
			<%=f.collection_select(:userID, User.all, :id, :name)%>
		<% else %>
			<%=f.hidden_field(:userID , :value => current_user.id )%>
		<% end %>
		<br />
		Services
		<br/>
		<table padding="10">
		<% for serv in Service.find(:all)%>
			<tr>
			<td>
				<%= check_box_tag "appointment[service_ids][]", serv.id, false , {data: {time: serv.timeframe}, "onclick" => 'increasetime(this);', id: "service#{serv.id}" } %> </td>	

			<td><%= serv.name %> </td>
			</tr>
		<% end %>
		</table>
	</td>
	<td valign="top">
		Select a Beautician<br />
		<div id="message1" style="display:none; color: red">
			Sorry the shop is closed on this day.<br/> Please choose another day.
		</div>
		<div id="message2" style="display:none; color: red">
			Sorry that date has already passed.<br/> Please choose another day.
		</div>
		<div id="message3" style="display:none; color: red">
			Sorry that date has already passed.<br/> Please choose another day.
		</div>
		<div id="beauticians">
			<% User.all.each do |user| %>
			<% if user.employee %>
				<%= f.radio_button(:beauticianID, user.id, {"onclick" => "updateID(this)"}) %> 
				<%= user.first_name+" "+user.last_name %>
				<br/>
			<%end%>
			<%end%>
		</div>
		<br/>
		<br/>
		Select a date<br/>
		<%= f.date_select(:date ,{:start_date => :today, :start_year =>Time.now.year, :end_year => Time.now.year+1}, {"onchange"=> 'dateChanged(this)'}) %>

	</td>	
	<td>
		<div id="partial">
			
		</div>
		
	</td>
</tr>

</table>
<%= f.submit "Make Appointment", class: "btn btn-large btn-primary" %>
<% end %>

<% else %>
	<script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>

<%end%>

