<% provide(:title, 'Schedule') %>
<% if !signed_in? || (signed_in? && !current_user.admin && !current_user.employee ) %>
	<script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>
<% end %>

<% if signed_in? && current_user.employee %>
<h1><%= current_user.first_name %>'s Schedule </h1>
	<% Appointment.where("date == ? AND beauticianID == ?", Date.today, current_user.id).each do |appoint| %>
		<% @user = User.find(appoint.userID) %>
		<%= %> 
		<br/>
		<%= format_time(appoint.timeslot)+"-"+format_time(appoint.timeslot+(appoint.timeframe+1)*0.5) %>
		<%= @user.first_name+" "+@user.last_name %>
		<br/>
		<% Service.find(:all , :joins => :appointments, :conditions => "appointment_id = #{appoint.id}").each do |serv| %>
		<%= serv.name+",  " %>
		<%end %>
		<%end%>

<%end%>

<br/>
<br/>

<% if signed_in? && current_user.admin%>
<h1>Today's Schedule </h1>
<table cellpadding="10">
	<tr>
	<% User.where("employee == ?", true).each do |employee| %>
	<td>
	<h2><%= employee.first_name+" "+employee.last_name %> </h2>
	<% Appointment.where("date == ? AND beauticianID == ?", Date.today, employee.id).each do |appoint| %>
		<% @user = User.find(appoint.userID) %> 
		<%= format_time(appoint.timeslot) %>
		<%= @user.first_name+" "+@user.last_name %><br/>
		<%end%>
	</td>
	<%end %>
	</tr>
</table>
<%end%>